@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --border-foreground: 210 25% 86%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 24 27;
    --foreground: 240 9.1% 94.9%;
    --card: 0 0% 13.7%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 8.6%;
    --popover-foreground: 0 0% 95%;
    --primary: 144 77% 36.9%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15.7%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0 0% 24.3%;
    --border-foreground: 210 25% 86%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth !important;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --chart-6: oklch(0.146 0.241 264.2);
    --chart-7: oklch(0.718 0.308 243.2);
    --chart-8: oklch(0.65 0.257 27.17);
    --chart-9: oklch(0.824 0.123 22.87);
    --chart-green-light: oklch(0.909 0.111 149.66);
    --chart-green-dark: oklch(0.45 0.123 154.78);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --chart-6: oklch(0.146 0.241 264.2);
    --chart-7: oklch(0.718 0.308 243.2);
    --chart-8: oklch(0.65 0.257 27.17);
    --chart-9: oklch(0.824 0.123 22.87);
    --chart-green-light: oklch(0.909 0.111 149.66);
    --chart-green-dark: oklch(0.348 0.123 154.78);
  }
}
